WebReport/Service References/ServiceReference/ResultService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://synevo.ua/integration/silab" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ResultService" targetNamespace="http://synevo.ua/integration/silab" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IResultService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://synevo.ua/integration/silab/Imports">
      <xsd:import schemaLocation="http://192.168.1.251/SilabIntegration/ResultService.svc?xsd=xsd0" namespace="http://synevo.ua/integration/silab" />
      <xsd:import schemaLocation="http://192.168.1.251/SilabIntegration/ResultService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.251/SilabIntegration/ResultService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Synevo.Data.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IResultService_GetResultSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResultSummary" />
  </wsdl:message>
  <wsdl:message name="IResultService_GetResultSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IResultService_GetResultSummaryByWebCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResultSummaryByWebCode" />
  </wsdl:message>
  <wsdl:message name="IResultService_GetResultSummaryByWebCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultSummaryByWebCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IResultService">
    <wsdl:operation name="GetResultSummary">
      <wsdl:input wsaw:Action="http://synevo.ua/integration/silab/IResultService/GetResultSummary" message="tns:IResultService_GetResultSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://synevo.ua/integration/silab/IResultService/GetResultSummaryResponse" message="tns:IResultService_GetResultSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResultSummaryByWebCode">
      <wsdl:input wsaw:Action="http://synevo.ua/integration/silab/IResultService/GetResultSummaryByWebCode" message="tns:IResultService_GetResultSummaryByWebCode_InputMessage" />
      <wsdl:output wsaw:Action="http://synevo.ua/integration/silab/IResultService/GetResultSummaryByWebCodeResponse" message="tns:IResultService_GetResultSummaryByWebCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IResultService" type="tns:IResultService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IResultService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResultSummary">
      <soap:operation soapAction="http://synevo.ua/integration/silab/IResultService/GetResultSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultSummaryByWebCode">
      <soap:operation soapAction="http://synevo.ua/integration/silab/IResultService/GetResultSummaryByWebCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResultService">
    <wsdl:port name="BasicHttpBinding_IResultService" binding="tns:BasicHttpBinding_IResultService">
      <soap:address location="http://192.168.1.251/SilabIntegration/ResultService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>